{% extends 'base.html.twig' %}

{% block title %}Détails du Blog{% endblock %}

{% block body %}
<div class="container mt-5 pt-5" style="margin-left: 10%;">
    <div class="card p-4 shadow-lg mx-auto" style="max-width: 800px;">
        <h1 class="text-center mb-4">Détails du Blog</h1>

        <table class="table table-bordered table-striped text-center">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ blog.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ blog.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ blog.description }}</td>
                </tr>
                <tr>
                    <th>Date de création</th>
                    <td>{{ blog.createdAtBlog ? blog.createdAtBlog|date('Y-m-d H:i:s') : 'Non spécifiée' }}</td>
                </tr>
                <tr>
                    <th>Dernière mise à jour</th>
                    <td>{{ blog.updatedAtBlog ? blog.updatedAtBlog|date('Y-m-d H:i:s') : 'Non mis à jour' }}</td>
                </tr>
            </tbody>
        </table>

        <div class="text-center mt-4">
            <a href="{{ path('app_blog_index') }}" class="btn btn-secondary">Retour à la liste</a>
            <a href="{{ path('app_blog_edit', {'id': blog.id}) }}" class="btn btn-warning">Modifier</a>
        </div>

        <div class="mt-3 text-center">
            {{ include('blog/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
